.screen-header{
    position: fixed;
    top: 4%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--horizontal-space);
    box-sizing: border-box;
}
.screen-header__title{
    font-size: 28px;
    font-weight: 600;
}
.screen-header__icons i{
    margin-left: 20px;
}
.dot-rel{
    position: relative;
}
.dot-rel__ab{
    position: absolute;
    right: 18px;
    top: 18px;
}


@keyframes rotategear{
    from{
        transform: none;
    }
    to{
        transform: rotateZ(360deg);
    }
}


.screen-header__icons .fa-gear:hover{
    animation: rotategear 1s linear infinite;
}
